.container {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.left-panel {
    flex: 1;
    background-image:url('images/greenplant.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  color: white;
}

.odin-logo {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.odin-text {
  font-family: 'Norse-bold', sans-serif;
  font-size: 4rem;
  color: white;
}

.credit {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 1.25rem;
}