* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.left-panel {
    width: 45%;
    background-image:url('images/greenplant.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.overlay {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  color: white;
}

.odin-logo {
  width: 70px;
  height: auto;
  margin-right: 10px;
}

.odin-text {
  font-family: 'Norse-bold', sans-serif;
  font-size: 4rem;
}

.credit {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 1.25rem;
}

.right-panel {
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.header {
    align-content: start;
    flex-shrink: 0;
    margin-top: 100px;
}

.italic {
    font-style: italic;
}

.legend {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;

}

.sign-up-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    padding: 40px;
    box-sizing: border-box;
}

.form-row {
    display: flex;
    gap: 40px;
    width: 100%;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.footer {
    margin-top: 20px;
    display: flex;
    flex-direction:column;
    gap: 15px;
    justify-content: start;
}

label {
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #444;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: fit-content;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #596d48;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #495a3a;
}

.login-text {
  font-size: 0.95rem;
}

.login-link {
  color: #596d48;
  font-weight: bold;
  cursor: pointer;
}